{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block head %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block main %}
    <div style="max-width: 330px;" class="m-auto">
        <h1>请注册</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="captcha">验证码</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           aria-label="Recipient's username" aria-describedby="basic-addon2" id="captcha" name="captcha" required>
                    <button type="button" class="btn btn-outline-secondary" id="captcha-btn" >获取验证码</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary w-100">注册</button>
            </div>
        </form>
    </div>
{% endblock %}